@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dbd0vo');
  src:  url('../fonts/icomoon.eot?dbd0vo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dbd0vo') format('truetype'),
    url('../fonts/icomoon.woff?dbd0vo') format('woff'),
    url('../fonts/icomoon.svg?dbd0vo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
  content: "\e906";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bars:before {
  content: "\e9bd";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
