.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
header {
  font-family: 'Roboto', sans-serif;
}
.header__content-inner {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.header__cart,
.header__search {
  color: #ffffff;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}
.menu li:hover .header__cart:before,
.menu li:hover .header__search::before {
  color: #c7b299;
}
.header__cart:before {
  content: "\e93f";
  font-family: 'icomoon';
  left: 0;
  color: #ffffff;
}
.header__search:before {
  content: "\e986";
  font-family: 'icomoon';
  left: 0;
  color: #ffffff;
}
.menu li {
  display: inline-block;
}
.menu a {
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  padding: 0px 16px;
  transition: all 0.2s;
}
.menu a:hover {
  color: #c7b299;
}
.icon-cart {
  background-image: url(../img/icon-cart.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.menu li + li {
  padding-left: 10px;
}
#modal {
  display: none;
}
.slider {
  background-image: url(../img/slider-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1025px;
}
.slider__item-content {
  text-align: center;
  padding-top: 270px;
  max-width: 700px;
  margin: 0 auto;
}
.slider__title-p{
  color: #fff;
  font-size: 52px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
}
.slider__title-h {
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 22px;
}
.slider__text {
  line-height: 24px;
  font-size: 18px;
  color: #d3d2d2;
  margin-bottom: 50px;
}
.default-btn {
  display: inline-block;
  color: #fff;
  background-color: #998675;
  border-bottom: solid #736357;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 15px 40px 15px 40px;
  border-radius: 4px;
  position: relative;
  outline: none;
}
.slider {
  position: relative;
}
.slick-btn {
  position: absolute;
  top: 70%;
  z-index: 3;
  height: 0px;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0;
}
.slick-btn.slick-disabled::before {
  cursor: default;
  background-color: transparent;
  opacity: 0.2;
}
.slick-btn:before {
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%; -50%);
  font-family: 'icomoon';
  color: #d3c1ad;
}
.slider__inner {
  position: relative;
}
.slick-next:before {
  content: "\ea42";
  font-family: 'icomoon';
}
.slick-prev:before {
  content: "\ea44";
  font-family: 'icomoon';
}
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}
.ideas {
  background-color: #fbfaf8;
  padding: 25px 0px 0px;
}
.ideas__top,
.latest__top,
.posts__top {
  margin: 23px auto 33px;
  width: 65%;
  text-align: center;
}
.ideas__title {
  padding: 10px 0px 25px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 500;
  color: #555555;
  font-family: 'Roboto', sans-serif;
}
.ideas__text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #8c8c8c;
}
.ideas__btn.default-btn::after {
  color: #000;
}
.ideas__inner {
  align-items: flex-end;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.ideas__inner img {
  width: 100%;
}
.textbox {
  background: linear-gradient(to right, #211b19, #4e3427);
  padding: 50px 0;
}
.textbox .textbox__top {
  float: left;
}
.textbox__top h4 {
  margin: auto;
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.textbox__top h4 span {
  color: #c7b299;
}
.textbox__top p {
  font-size: 18px;
  letter-spacing: 0.1px;
  color: #8c8c8c;
}
.textbox .textbox__btn {
  float: right;
  padding: 12px 30px 12px 30px;
}
.services {
  padding: 55px 0 40px;
  min-height: 285px;
}
.services__inner {
  color: #fff;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.services__item {
  max-width: 360px;
  padding: 0px 20px;
}
.services__title-web,
.services__title-dev,
.services__title-cust,
.services__title-markt {
  color: #555555;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  padding: 60px 0 15px;
  position: relative;
}
.services__text {
  line-height: 24px;
  color: #8c8c8c;
  letter-spacing: 0.1px;
}
.services__item:hover .services__text,
.services__item:hover .services__title-web,
.services__item:hover .services__title-dev,
.services__item:hover .services__title-cust,
.services__item:hover .services__title-markt,
.services__item:hover .services__title-web::before,
.services__item:hover .services__title-dev::before,
.services__item:hover .services__title-cust::before,
.services__item:hover .services__title-markt::before{
  color: #c7b299;
  cursor: pointer;
}
.services__item:hover .services__status {
  background: #c7b299;
}
.services__title-web::before{
  content: "\e906";
  font-family: 'icomoon';
  color: #555555;
  font-size: 45px;
  position: absolute;
  top: 0;
  left: 40%;
}
.services__title-dev::before{
  content: "\e92e";
  font-family: 'icomoon';
  color: #555555;
  font-size: 45px;
  position: absolute;
  top: 0;
  left: 40%;
}
.services__title-cust::before{
  content: "\e930";
  font-family: 'icomoon';
  color: #555555;
  font-size: 45px;
  position: absolute;
  top: 0;
  left: 40%;
}
.services__title-markt::before {
  content: "\e994";
  font-family: 'icomoon';
  color: #555555;
  font-size: 45px;
  position: absolute;
  top: 0;
  left: 40%;
}
.services__status {
  margin-top: 25px;
  width: 70px;
  height: 3px;
  background: #f1eee9;
  display: inline-block;
}
.latest__inner {
  padding-bottom: 80px;
  text-align: center;
}
.latest__inner input {
  display: none;
}
.latest__wrap {
  text-align: center;
}
.latest__wrap label {
  cursor: pointer;
  line-height: 30px;
  border: 1px solid #ebebeb;
  padding: 0 18px;
  background: #fff;
  display: inline-block;
  border-radius: 3px;
  margin: 0 3px;
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
  transition: 0.3s;
}
.latest__wrap input:checked + label {
  background: #998675;
  color: #fff;
  border: 1px solid #998675;
}
.latest__list,
.posts__list  {
  margin-top: 40px;
}
.latest__list li,
.posts__list li {
  cursor: pointer;
  max-width: 370px;
  margin: 0 30px 30px 0;
  float: left;
}
.latest__list li:nth-child(3n),
.posts__list li:nth-child(3n) {
  margin: 0 0 30px 0;
}
.latest__list li img,
.posts__list li img {
  width: 100%;
}
.latest__list li .contents,
.posts__list li .contents {
  background: #fbfaf8;
  padding: 24px 29px;
  text-align: left;
}
.latest__list li .img-wrap,
.posts__list li .img-wrap {
  position: relative;
}
.latest__list li .latest__holder,
.posts__list li .posts__holder {
  position: absolute;
  background: rgba(0, 0, 0,.7);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  padding-top: 116px;
  opacity: 0;
  transition: 0.4s;
}
.latest__list li:hover .latest__holder,
.posts__list li:hover .posts__holder {
  opacity: 1;
}
.latest__list li .latest__holder span,
.posts__list li .posts__holder span {
  color: #fff;
  margin: 0 15px;
  font-size: 26px;
}
.latest__list li .latest__holder span:hover,
.posts__list li .posts__holder span:hover {
  color: #c7b299;
}
.latest__title {
  padding: 80px 0px 30px;
  font-size: 30px;
  font-weight: 500;
  color: #555555;
  font-family: 'Roboto', sans-serif;
}
.latest__text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #8c8c8c;
  max-width: 715px;
}
.latest__list .contents h4{
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
  font-family: 'Roboto', sans-serif;
}
.latest__list .contents p {
  font-size: 14px;
  color: #d1d1d1;
}
.latest__list li:hover .contents,
.posts__list li:hover .contents {
  background: #362f2d;
}
.latest__list li:hover .contents h4 {
  color: #fff;
}
.latest__list li:hover .contents p {
  color: #c7b299;
}
#filter-all:checked ~ .latest__list li {
  display: block;
}
#filter-web:checked ~ .latest__list li:not(.web) {
  display: none;
}
#filter-mobile:checked ~ .latest__list li:not(.mobile) {
  display: none;
}
#filter-photo:checked ~ .latest__list li:not(.photo) {
  display: none;
}
#filter-illust:checked ~ .latest__list li:not(.illust) {
  display: none;
}
.video {
    background-image: url(../img/video.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 705px;
    text-align: -webkit-center;
}
.video__inner {
  text-align: center;
  padding-top: 210px;
  max-width: 550px;
}
.video__inner a {
  font-size: 70px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.video__title {
  padding-top: 45px;
  padding-bottom: 25px;
  font-size: 30px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.video__text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #fff;
  padding-bottom: 45px;
}
.video__time {
  color: #c7b299;
}
#overlay {
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
}
#overlay:target {
  pointer-events: auto;
  opacity: 1;
}
#overlay .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#overlay .inner .close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: #fff;
  color: #000;
  border-radius: 50%;
  top: -1rem;
  right: -1rem;
  text-align: center;
  line-height: 2rem;
}
.mobile__inner {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.mobile__info {
  padding-top: 110px;
}
.mobile__title {
  padding-bottom: 25px;
  font-size: 30px;
  color: #555555;
  font-family: 'Roboto', sans-serif;
}
.mobile__text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #939393;
  padding-bottom: 45px;
}
.mobile__menu li {
  color: #939393;
  font-size: 16px;
  padding: 10px 25px;
}
.mobile__menu img {
  padding-right: inherit;
}
.counters {
  background: linear-gradient(to right, #211b19, #4e3427);
  min-height: 300px;
}
.counters__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 60px;
}
.counters__item__title {
  padding-top: 30px;
  font-size: 48px;
  line-height: 36px;
  color: #fff;
}
.counters__item__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #c7b299;
  padding-top: 20px;
}
.counters__status {
  margin-top: 25px;
  width: 25px;
  height: 3px;
  background: #f1eee9;
  display: inline-block;
}
.posts__inner {
  padding-top: 70px;
  padding-bottom: 60px;
}
.posts__title {
  padding-top: 30px;
  font-size: 30px;
  color: #555555;
}
.posts__text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #8c8c8c;
  padding-top: 20px;
  max-width: 770px;
}
.posts__items {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.posts__calendar {
  z-index: 1;
  color: #fff;
  padding: 20px 20px 0;
  position: absolute;
}
.posts__calendar__number {
  padding-top: 30px;
  font-size: 20px;
  padding: 8px 10px 9px;
  background-color: #363636;
  border-radius: 5px 5px 0 0;
}
.posts__calendar__month {
  padding-top: 30px;
  font-size: 12px;
  padding: 6px 10px 7px;
  background-color: #252525;
  border-radius: 0 0 5px 5px;
}
.posts__list li .contents h4 {
  font-size: 20px;
  color: #555555;
}
.posts__list li .contents p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #8c8c8c;
}
.posts__list li:hover .contents h4 {
  color: #c7b299;
}
.posts__list li:hover .contents p {
  color: #fff;
}
.posts__list li:hover .posts__calendar__number {
  background-color: #c7b299;
}
.posts__list li:hover .posts__calendar__month {
  background-color: #a48d72;
}
.posts__item__read {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #c7b299;
}
.posts__slider {
  position: relative;
  margin-top: 40px;
  text-align: center;
}
.posts__slider a {
  display: inline-block;
  width: 22px;
  height: 22px;
  display: inline-block;
  background: url(../img/sprites.png) no-repeat;
  text-indent: -9999em;
  color: #c7b299;
}
.posts__slider a.bx-prev {
  background-position: -194px -89px;
}
.posts__slider a.bx-next {
  background-position: -224px -89px;
}
.posts__slider a.bx-prev:hover {
  background-position: -193px -111px;
}
.posts__slider a.bx-next:hover {
  background-position: -224px -111px;
}
.bx-viewport {
  height: 100%;
}
.partners {
  background-image: url(../img/Background-partners.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.partners__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 135px;
  align-items: center;
}
.footer__content {
  background-color: #191919;
  padding: 20px 0px 30px;
}
.footer__inner {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.footer__inner .header__btn {
  float: none;
  display: inline-block;
}
.footer__title {
  letter-spacing: 0.5px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
}
.footer__text {
  font-size: 14px;
  color: #555555;
  margin-bottom: 30px;
  margin-top: 30px;
}
.footer__posts-title,
.footer__twit-title,
.footer__widget-title {
  font-size: 24px;
  margin-bottom: 30px;
}
.footer__post-date {
  color: #363636;
  margin-bottom: 10px;
}
.footer__twit-time {
  color: #363636;
  margin-top: 10px;
}
.footer__post-text,
.footer__twit-text {
  font-size: 14px;
  color: #555555;
}
.footer__read {
  color: #fff;
}
.footer__twits,
.footer__info,
.footer__posts {
  padding: 15px 0 15px 15px;
  max-width: 270px;
}
.footer__twit:hover .footer__twit-text,
.footer__post:hover .footer__post-text {
  color: #c7b299;
}
.footer__twit:hover .footer__twit-time,
.footer__post:hover .footer__post-date {
  color: #fff;
}
.footer__twit-text span {
  color: #00bff3;
  cursor: pointer;
}
.footer__twit-text a {
  color: #959595;
  cursor: pointer;
}
.footer__line {
  width: 100%;
  height: 1px;
  background: #252525;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer__widget-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
}
.footer__widget-grid > a {
  padding-right: 10px;
  padding-bottom: 5px;
}
.footer__copy {
  background-color: #111111;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  padding: 8px 0;
  font-weight: 400;
}
.footer__copy__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 45px;
}
.footer__copy ul {
  display: block;
}
.footer__copy li {
  display: inline-block;
  color: #555555;
  cursor: pointer;
}
.footer__copy li:hover {
  color: #c7b299;
}
.footer__copy span {
  color: #959595;
}
.footer__copy-line {
  width: 1px;
  height: 70%;
  background: #252525;
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;
}
#modal input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color: #c7b299;
}
#modal {
  width: 300px;
}
#modal input[type="submit"] {
  border: none;
  background-color: #111111;
}
.header__btn-menu {
  display: none;
  font-size: 28px;
}
